{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "plugins": [
        "react"
    ],
    "rules": {
        "indent": ["error", 4],
        "comma-dangle": ["error", "never"],
        "max-len": [1,200],
        "semi": [2, "never"],
        "no-trailing-spaces": "error",
        "no-param-reassign": 0
    }
}
