{% extends "base.html" %}

{% load i18n %}

{% block head_title %}
    {% trans "Dashboard Config" %}
{% endblock %}

{% block content %}
    <h1>{% trans "Dashboard Configuration" %}</h1>

    <form method="POST">
        {% csrf_token %}

        <div>
            {% if form.non_field_errors %}
                <div id="errorMsg">{{ form.non_field_errors }}</div>
            {% endif %}
            <pre id="config" style="background-color: #e4f1ff;padding: 50px;border-radius: 10px;text-align: left; max-width:800px;float:none; margin:auto"></pre>
            <div>
                <button class="button primary" name="submit-btn" type="submit">{% trans 'Update' %}</button>
            </div>
        </div>
    </form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
    <config>{{ config }}</config>
    <script>
    (function(){

        var $ = window.$;

        $(document).ready(function(event) {
            var configData = $('config').html();
            $('config').remove();
            $('#config').html(JSON.stringify(JSON.parse(configData), undefined, 2));


            var configEl = $('#config');
            configEl.click(function(target) {
                console.log("dd");
                var editableTextEl =$("<textarea/>");
                editableTextEl
                    .val(configEl.html())
                    .attr('name','config')
                    .css('background-color','#e4f1ff')
                    .css('padding','50px')
                    .css('border-radius','10px')
                    .css('text-align','left')
                    .css('max-width','800px')
                    .css('width','800px')
                    .css('height',configEl.height())
                    .css('float','none')
                    .css('margin','auto');
                configEl.replaceWith(editableTextEl);
            });
        });
    })()
    </script>
{% endblock %}