{% extends "base.html" %}

{% block head_title %}
    Dashy Admin Site
{% endblock %}


{% block content %}
    <div class="padding">
        <h1>IEEE Carleton Dashboard Admin Site</h1>
        <br/>
        <br/>
        <br/>
        <a href="{% url 'account_login' %}"><span class="button primary" >Sign In</span></a>
        <a href="{% url 'account_signup' %}"><span class="button secondary" >Sign Up</span></a>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div><a href="{% url 'dash' %}">Go to Dashboard Site</a></div>
    </div>
{% endblock %}