
{% if user.is_authenticated %}
<div>Welcome {{user.username}}</div>
  <div><a href="{% url 'account_logout' %}">Sign Out</a></div>
<br/>
<div><h3>Menu</h3></div>
  <div><a href="{% url 'account_email' %}">Change E-mail</a></div>
  <div><a href="{% url 'account_reset_password' %}">Change Password</a></div>
  <div><a href="{% url 'socialaccount_connections' %}">View Social Connectors</a></div>
  <div><a href="{% url 'config' %}">Configure Service Parameters</a></div>
  <div><a href="{% url 'privacy' %}">View Our Privacy Policy</a></div>
  <div><a href="{% url 'dash' %}">Go to Dashboard Site</a></div>
{% endif %}