body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction:row;
    padding: 1vh;
    bottom: 0;
    min-height:  96vh;
}

.menu-container {
    flex: 0 20%;
    text-align: left;
    line-height: 150%;
    font-weight: bold;
    /* background: #22eeff; */
    border-right: 2px solid #195ca0;;
}


.content-container {
    flex: 0 80%;
    /* background: #57ca22; */
    text-align: center;
}

a {
    text-decoration: none;
    color: #195ca0;
}

a:visited {
    color: #195ca0;
}

a:hover {
    color: #113b65;
}

.padding {
    padding:1vh;
}

.button {
    border:0;
    max-width:30%;
    margin: auto 1vh;
    margin-top: 1vh;
    padding: 1vh 2vh;
    font-size: 1.5vh;
    font-weight: bold;
    color: white;
    margin-bottom: 7%;
    cursor: pointer;
    border-radius:5px;
}

.button, .button:visited {
    color: #eee;
}

.button.primary {
    background-color: #113b65;
}

.button.primary:hover {
    color: white;
    background-color: #0c2c4d;
}


.button.secondary {
    background-color: #195ca0;
}

.button.secondary:hover {
    color: white;
    background-color: #154e88;
}

input {
    padding: 1vh;
    margin: 1vh 0;
    box-sizing: 'border-box';
    border: 2px solid #113b65;
    border-radius:5px;
    font-size: 1em;
    font-weight: bold;
    color: #113b65;
}


/* Social Buttons */

/* Google */

div.socialaccount_provider {
    cursor: pointer;
    margin: auto;
    margin-bottom: 20px;
}

div.socialaccount_provider.google {
    width: 184px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}


div.socialaccount_provider:hover {
    box-shadow: 0 0 6px #4285f4;
}

div.socialaccount_provider:active {
    background: #1669F2;
}

div.socialaccount_provider.google .google-icon-wrapper {
    position: absolute;
    margin: 1px 0 1px 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}
div.socialaccount_provider.google .google-icon {
    padding-top: 10%;
    height: 80%;
}
div.socialaccount_provider.google  .btn-text {
    float: right;
    margin: 11px 8px 0 0;
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.2px;
    font-family: 'Roboto',arial,sans-serif;
    font-weight: bold;
}

div.socialaccount_provider.facebook {
    background-color: #4267b2;
    border-radius: 4px;
    color: #fff;
    max-width: 272px;
    min-width: initial;
    width: 190px;
    height: 42px;
}

div.socialaccount_provider.facebook .facebook-icon-wrapper {
    position: absolute;
    margin: 2px;
    width: 40px;
    height: 40px;
}

div.socialaccount_provider.facebook .facebook-icon {
    width: 27px;
    height: 37px;
}

div.socialaccount_provider.facebook .btn-text {
    float: right;
    margin: 12px 8px 0 0;
    color: #fff;
    font-size: 13px;
    letter-spacing: -0.2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
}


div.socialaccount_provider.twitter {
    background-color: #00acee;
    border-radius: 4px;
    color: #fff;
    max-width: 272px;
    min-width: initial;
    width: 175px;
    height: 42px;
}

div.socialaccount_provider.twitter .twitter-icon-wrapper {
    position: absolute;
    margin: 2px;
    width: 40px;
    height: 40px;
}

div.socialaccount_provider.twitter .twitter-icon {
    width: 27px;
    height: 37px;
}

div.socialaccount_provider.twitter .btn-text {
    float: right;
    margin: 12px 8px 0 0;
    color: #fff;
    font-size: 13px;
    letter-spacing: 0.2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #fff;
}


div.privacy-container {
    text-align: left;
    margin: auto;
    float: none;
    max-width: 1000px;
}

#errorConfig {
    color: red;
}